    * {
      margin: 0;
      padding: 0;
      font-family: "Poppins", sans-serif;
      box-sizing: border-box;
    }
    
    body {
      background-color: rgba(0, 0, 0, 0.05);
    }
  
    nav {
      display: flex;
      justify-content: space-between;
      font-size: 1.1rem;
      padding: 1em;
    }
    
    
    nav i {
      color: white;
    }
  .navBtn {
    font-size: inherit;
    padding: 0.4em;
    border: none;
    background-color: rgba(25, 20, 250, 0.7);
    backdrop-filter: blur(30px);
    color: whitesmoke;
    border-radius: 0.3em;
    cursor: pointer;
  }
  
  .favouritesBtn {
    visibility: hidden;
  }
  
  .nearest {
    box-shadow: 0 0 20px 0 black;
    font-size: 1.3rem;
    margin: 2em;
    padding: 0.5em 1em 1em 1em;
    border-radius: 1em;
  }
  
  .nearest h3 {
    text-align: center;
  }
  .nearest p {
    margin-top: 0.7em;
    padding: 0.5em;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.07);
  }
  
  .locations {
    width: 50%;
    border: 2px solid transparent;
    box-shadow: 0 0 2px 0 black;
    border-radius: 1rem;
    margin: 1em;
    transform: translateX(0px);
    transition: all 0.5s;
    display: none;
  }

  

  .lveBtn {
    padding: 0.2em;
    margin-right: 1.5em;
  }
  div {
    display: flex;
    margin: 1em;
    font-size: 1.2rem;
  }
  .location {
    background-color: whitesmoke;
    width: 100%;
    padding: 0.6em;
    white-space: nowrap;
    overflow: scroll;
  }
  i {
    color: green;
  }
  
    .paying {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 1em;
    text-decoration: underline wavy black;
  }
  
   
  .mpesaRes {
    width: 100%;
    font-size: 1.4rem;
    display: block;
    margin: 0.5em 0 0 0;
    border: 2px solid transparent;
    transform: scale(0);
    transition: all 0.5s;
  }
  
  
    .checkContainer, .failedRes  {
    display: grid;
    place-items: center;
    width: 100%;
  
  }
  
  
    .fa-circle-check {
    font-size: 3rem;
    margin: 0.1em;
    color: white;
  }
  .fa-circle-xmark {
  font-size: 3rem;
    margin: 0.1em;
    color: crimson;
  }
  
  
    .mpesaText, .accepted  {
    margin: 0 1em 1em 1em;
    background-color: green;
    font-size: 1.3rem;
    }
    
    .failedText {
    margin: 0 1em 1em 1em;
    font-size: 1.3rem;
  }
  
    .showRes {
    transform: scale(1);
    background-color: green;
    opacity: 0.7;
    color: white;
    font-weight: bolder;
  }
  
    .showFailedRes {
    transform: scale(1);
    background-color: rgba(250, 0, 0, 0.2);
    color: crimson;
    font-weight: bold;
  }
  
  
  img {
    display: block;
    margin: auto auto;
    border: 2px solid black;
    width: 100%;
    height: 100px;
    object-fit: cover;
    margin-top: 0.3em;
  }
  
  
  .paymentForm {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    transition: all 0.5s;
  }
  .paymentForm input {
    padding: 0.5em;
    font-size: 1.2rem;
  }
  .paymentForm label {
    margin-top: 0.5em;
  }

  .paymentFormContainer {
    padding: 0 5em 5em 5em;
  }
  
  
  .cancelAndSendBtn {
    font-size: 1.1rem;
    display: flex;
    margin: 1em 0 0 0;
    justify-content: space-between;
    width: 100%;
  }
 
  .cancelAndSendBtn button {
    font-size: 1.1rem;
    padding: 0.5em;
    background-color: green;
    color: white;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
  }
  
  .navBtn:focus {
    border-bottom: 4px solid black;
  }

    @media (orientation: landscape) {
    body {
      width: 50%;
      margin: auto auto;
      
    }
   
  }

  
