    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }
    
    body {
      display: none;
    }
    header {
      font-size: 1.5rem;
      position: relative;
      padding: 0.5em;
      color: rgba(0, 0, 0, 0.7);
      box-shadow: 0 0 10px 0 black;
      display: flex;
      justify-content: space-between;
    }
    header p {
      margin-top: 0.5em;
    }
    .menu {
      display: grid;
      place-items: center;
      font-size: 2rem;
      padding: 0.3em;
      cursor: pointer;
    }
  nav {
    position: absolute;
    height: 100vh;
    top: 0;
    width: 50%;
    background-color: rgba(25, 20, 250, 0.7);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 20px 0 black;
    left: -51%;
    transition: all 0.5s;
    color: white;
    font-size: 1.3rem;
    z-index: 1;
  }
  
  nav p {
    margin: 0.5em;
    text-decoration: underline wavy white;
    cursor: pointer;
    white-space: nowrap;
    padding-right: 0.4em;
    overflow: scroll;
  }
  .showNav {
    left: 0;
  
  }
  
  .balance {
    font-size: 1.2rem;
    padding: 3.55em;
    margin: 0;
    width: 100%;
    background-color: white;
  }
    .videoContainer {
      font-size: 1.5rem;
      margin: 1em;
    }
    .home {
      margin: 1em;
      animation: scale 1s linear 1;
    }
    
    @keyframes scale {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    
    h1 {
      font-size: 4rem;
      text-align: center;
    }
    
    .home p {
      font-size: 2rem;
      padding: 0.9em;
    }
    
    .loginRegister {
      font-size: 1.5rem;
      margin: 1em;
      padding: 1em;
      display: flex;
      justify-content: center;
    box-shadow: 0 0 2px 0 black;
    }
    .registerBtn, .loginBtn {
      font-size: 1.3rem;
      margin: 1em;
      padding: 1em;
      border: none;
      border-radius: 1em;
      cursor: pointer;
      background-color: rgba(25, 20, 250, 0.7);
    backdrop-filter: blur(30px);
    color: white;
    }
    
  
  video {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }
  
  .best {
    font-size: 1.3rem;
    margin: 1em;
    padding: 1em;
    border: 2px solid green;
  }
  
  .best p {
    margin-top: 1em;
    background-color: rgba(150, 200, 50, 0.8);
    padding: 0.5em;
    color: black;
    box-shadow: 0 0 5px 0 black;
    transition: all 0.5s;
  }
  
  p[tabindex]:focus {
    transform: scale(1.05);
  }
  
  footer {
    font-size: 1rem;
    background-color: black;
    color: white;
    padding: 1em;
  }
  .copy {
    font-size: 1rem;
    text-align: center;
    margin-top: 2em;
  } 

  .imgParent {
    width: 18%;
    z-index: 2;
  }

  img {
    width: 100%;
    height: auto;
  }
  
  @media (orientation: landscape) {
    body {
      width: 50%;
      margin: auto auto;
      
    }
    nav {
      left: -101%;
    }
  }

  
